@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts - DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@layer components{
  .container-section {
    @apply px-6 lg:px-8 xl:px-6 py-4 lg:py-6 xl:py-6;
  }
  
  .content-section {
    @apply   w-full mx-auto 


    
  }
  .box-container {
    @apply   bg-sidebar border border-border   shadow-slate-100 dark:shadow-zinc-900 rounded-lg
  }

  .box-section {
    @apply   px-6 py-3 flex   items-center border-b border-border 
  }

  .content-font {
    @apply   font-normal text-[14px] text-gray-600 dark:text-gray-300
  }

  .tablecell-style {
    @apply bg-blue-100/80 dark:bg-blue-800/30 border border-blue-500 dark:border-sky-300/50
  }

  .input-style {
    @apply   pr-10 bg-muted/20 border text-foreground focus:ring-2 focus:ring-primary focus:outline-none transition-all;

  }
}

@layer base {
  :root {
    --background: 220 36% 98%;
    --foreground: 228 9% 16%;
    --card: 0 0% 100%;
    --card-foreground: 228 9% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 9% 16%;
    --primary: 228 60% 56%;
    --primary-foreground: 120 33% 98%;
    --secondary: 217 30% 14%;
    --secondary-foreground: 228 9% 16%;
    --muted: 228 6% 90%;
    --muted-foreground: 228 4% 40%;
    --accent: 120 3% 93%;
    --accent-foreground: 228 9% 16%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 120 33% 98%;
    --border: 240 42% 94%;
    --input: 228 6% 90%;
    --ring: 228 9% 16%;
    --radius: 0.5rem;

    /* Chart colors */
    --chart-1: 228 59% 48%;
    --chart-2: 155 54% 50%;
    --chart-3: 43 96% 56%;
    --chart-4: 283 39% 57%;
    --chart-5: 338 84% 46%;

    /* Sidebar colors */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 228 9% 16%;
    --sidebar-primary: 228 9% 16%;
    --sidebar-primary-foreground: 120 33% 98%;
    --sidebar-accent: 240 42% 94%;
    --sidebar-accent-foreground: 228 9% 16%;
    --sidebar-border: 240 42% 94%;
    --sidebar-ring: 228 9% 16%;
    --sidebar-hover: 240 42% 94%;
    --sidebar-active: 228 60% 56%;
    --sidebar-active-foreground: 120 33% 98%;
  }

  .dark {
    --background: 206 15% 10%;
    --foreground: 120 33% 98%;
    --card: 228 9% 12%;
    --card-foreground: 120 33% 98%;
    --popover: 228 9% 16%;
    --popover-foreground: 120 33% 98%;
    --primary: 228 60% 56%;
    --primary-foreground: 228 9% 16%;
    --secondary: 217 30% 14%;
    --secondary-foreground: 120 33% 98%;
    --muted: 228 9% 26%;
    --muted-foreground: 228 4% 70%;
    --accent: 228 9% 17%;
    --accent-foreground: 120 33% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 120 33% 98%;
    --border: 217 12% 13%;
    --input: 228 9% 26%;
    --ring: 228 9% 26%;

    /* Chart colors */
    --chart-1: 228 59% 68%;
    --chart-2: 155 54% 60%;
    --chart-3: 43 96% 66%;
    --chart-4: 283 39% 67%;
    --chart-5: 338 84% 66%;

    /* Sidebar colors */
    --sidebar-background: 207 15% 13%;
    --sidebar-foreground: 120 33% 98%;
    --sidebar-primary: 120 33% 98%;
    --sidebar-primary-foreground: 228 9% 16%;
    --sidebar-accent: 228 9% 18%;
    --sidebar-accent-foreground: 120 33% 98%;
    --sidebar-border: 217 12% 13%;
    --sidebar-ring: 228 9% 26%;
    --sidebar-hover: 228 9% 20%;
    --sidebar-active: 180 1% 70%;
    --sidebar-active-foreground: 228 9% 16%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  h1 { @apply text-[16px] md:text-[20px] lg:text-[26px] font-medium; }
  
  h2 { @apply text-[14px] md:text-[18px] lg:text-[22px] font-medium; }

  h3 { @apply text-[12px] md:text-[16px] lg:text-[18px] font-medium; }
  
  h4 { @apply text-[10px] md:text-[14px] lg:text-[16px] font-medium; }
  
  h5 { @apply text-[10px] md:text-[14px] lg:text-[16px] font-medium; }
  p {
    @apply text-sm leading-relaxed;
  }

  .texto {
    @apply text-sm;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .create-button {
    @apply bg-gradient-to-tr from-primary to-primary/20 text-primary-foreground dark:text-white;
  }

  


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
}


